@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #3d2514;
    --color-secondary: #ffc045;
    --color-accent: #bf2222;
    --color-white: #fff;
    --text-shadow: #fee8bc;
    --font-alfa: 'Alfa Slab One', cursive;
    --font-bebas: 'Bebas Neue', cursive;
    --font-mont: 'Montserrat', sans-serif;
} 

h3 {
    font-family: var(--font-alfa);
    color: var(--color-primary);
    letter-spacing: 1px;
    font-size: 2.5em;
}

.ft-md {
    font-size: 3em;
}

.ft-lg {
    font-size: 3.5em;
}

.ft-xl {
    font-size: 7.1em;
}

.t-shadow {
    text-shadow: 5px 5px var(--text-shadow);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    background: url('/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 55px;
}

/* NAVBAR */

#menu {
    display: flex;
}

#menu li:last-child > a {
    margin-right: 0;
}

#menu li{
  letter-spacing: 4px;
}

#menu a{
    color: var(--color-primary);
    font-family: var(--font-bebas);
    font-size: 1.3em;
    margin: 0 1.4em;
    white-space: nowrap;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav_content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    /* margin-right: 28px; */
}

.nav_content p{
   font-family: var(--font-mont);
   color: var(--color-primary);
   font-weight: 600;
}

.nav_content img{
   margin-right: 8px;
 }


 /* HERO */

 .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 78px;
 }

 .hero > *{
   flex: 1;
 }

 .hero_left{
    align-self: flex-start;
    margin-top: 50px;
  }

 .hero_left h4{
    font-family: var(--font-bebas);
    font-weight: lighter;
    color: var(--color-primary);
    font-size: 1.5em;
    border: 2px dashed var(--color-primary);
    padding: 12px 18px;
    display: inline-block;
    margin: 0;
 }

 .hero_left h1{
    font-family: var(--font-alfa);
    color: var(--color-primary);
    letter-spacing: 5px;
    margin: 10px 0 0 0 ;
 }

 .hero_left h2{
    font-family: var(--font-alfa);
    color: var(--color-primary);
    letter-spacing: 2px;
    margin: 0;
 }

 .hero_right img {
    width: 100%;
 }

 .hero_right {
    position: relative;
 }
 
 .hero_price-container {
    align-items: center;
    background: var(--color-accent);
    border-radius: 100%;
    bottom: 0;
    display: flex;
    height: 174px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 174px;
 }

 .hero_price-container p{
    border: 2px dashed var(--color-white);
    border-radius: 100%;
    padding: 24px 28px;
 }

 .hero_price-container .price{
    color: var(--color-white);
    font-size: 4.4em;
    font-family: var(--font-bebas);
 }

 .hero_price-container .cents{
    color: var(--color-white);
    font-size: 1.9em;
    font-family: var(--font-bebas);
 }

 .hero_price-container .text{
    color: var(--color-white);
    font-size: 2.1em;
    font-family: var(--font-bebas);
    letter-spacing: 10px;
    line-height: 15px;
 }

 /* GRID */

 .grid {
    display: grid;
 }

 .grid--2x2 {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 30px;
 }

 .grid--3x2 {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    gap: 30px;
 }

 /* FEATURES-1 */

 .features_1 {
    padding: 80px 100px 0;
 }

 .features_1 img {
    width: 100%;
 }

 .features_1-burger-1 {
    grid-row: 1/3;
 }

 .features_1_cards {
    position: relative;
 }

 .features_1_cards-content {
    padding: 30px 24px;
    position: absolute;
    top: 0;
    left: 0;
 }

 .features_1_cards-content h6{
    font-size: 1.6em;
    margin: 0;
    font-family: var(--font-bebas);
    color: var(--color-white);
    letter-spacing: 2px;
    font-weight: lighter;
 }

 .features_1_cards-content h5{
    font-size: 2.6em;
    margin: 0;
    font-family: var(--font-bebas);
    color: var(--color-white);
    letter-spacing: 3px;
    font-weight: lighter;
    line-height: 0.9em;
 }

 /* BUTTONS */

 .features_1-btn {
    text-align: center;
 }

 .btn-primary {
    color: var(--color-primary);
    font-family: var(--font-bebas);
    font-size: 1.5em;
    background: var(--color-secondary);
    padding: 16px 24px;
    display: inline-block;
    margin-top: 20px;
 }

 .btn-accent {
    color: var(--color-white);
    font-family: var(--font-alfa);
    font-size: 0.9em;
    background: var(--color-accent);
    padding: 22px 38px;
    display: inline-block;
    margin-top: 20px;
 }

 /* FEATURES-2 */

 .features_2 {
    margin-top: 40px;
 }

 .features_2-header {
    text-align: center;
 }

 .features_2-header h3{
   margin: 0;
 }

 .features_2-header{
   font-family: var(--font-mont);
   color: var(--color-primary);
   font-size: 0.9em;
   width: 70%;
   margin: 0 auto;
 }

 .features_2-card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .features_2-card {
    text-align: center;
    padding: 5px;
    margin: 0 40px;
 }

 .features_2-card img{
    max-width: 100%;
    width: 100%;
 }

 .features_2-card h4 {
    font-family: var(--font-bebas);
    font-size: 2.3em;
    color: var(--color-primary);
    margin: 20px 0 0 0;
 }

 .features_2-card p {
    font-family: var(--font-mont);
    font-size: 0.9em;
    color: var(--color-primary);
 }

 /* EVENTS */
 .events {
    margin-top: 80px;
 }

 .events-container {
    display: flex;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
 }

 .events-container > * {
   flex: 1;
 }

 .events_left h6{
    font-family: var(--font-bebas);
    font-size: 1.8em;
    font-weight: lighter;
    color: var(--color-primary);
    margin: 0;
 }

 .events_left h5{
    font-family: var(--font-alfa);
    color: var(--color-primary);
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0 0 20px 0;
 }

 .events_left p{
    font-family: var(--font-mont);
    color: var(--color-primary);
    font-size: 1.3em;
    font-weight: lighter;
    margin: 0;
 }

 .events_left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   padding: 0 50px;
 }

 .events_right img {
    width: 100%;
 }

 /* RESERVATION */

 .reservation {
    position: relative;
    margin-top: 80px;
    margin-bottom: 180px;
 }

 .reservation h6{
    font-family: var(--font-bebas);
    font-size: 1.8em;
    font-weight: lighter;
    color: var(--color-primary);
    margin: 0;
 }

 .reservation h5{
    font-family: var(--font-alfa);
    color: var(--color-primary);
    font-size: 2.5em;
    font-weight: lighter;
    margin: 0 0 20px 0;
 }

 .reservation_header {
    text-align: center;
 }

 .reservation_header h6 {
  margin-bottom: 10px;
 }

 .reservation_form {
    padding: 0 326px;
    margin-top: 80px;
 }

 .reservation_form .res_input {
    height: 64px;
    border-radius: 5px;
    font-family: var(--font-bebas);
    font-size: 1.2em;
    text-indent: 20px;
 }

 .reservation_form img {
    width: 100%;
 }

 .reservation_form a{
    margin: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
 }

 .reservation_bg-1 {
    position: absolute;
    top: -130px;
    left: -80px;
 }

 .reservation_bg-2 {
    position: absolute;
    top: 100px;
    left: 100px;
 }

 .reservation_bg-3 {
    position: absolute;
    top: 140px;
    right: -280px;
 }

 /* FOOTER */

 .footer {
    background: url('/images/bg-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
 }

 .footer_left {
    flex: 2;
    padding: 50px;
    position: relative;
 }

 .footer_right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
 }

 .footer_left img {
    filter: brightness(100);
 }

 .footer_left p{
    font-family: var(--font-mont);
    color: var(--color-white);
    font-size: 0.9em;
    font-weight: lighter;
    opacity: 0.8;
    margin: 20px 0 0 0 ;
    width: 600px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
 }

 .footer_container {
    display: flex;
    height: inherit;
 }

 .footer_right h5{
    color:var(--color-white);
    font-family: var(--font-bebas);
    font-size: 1.2em;
    font-weight: lighter;
    margin: 5px;
 }

 #location, #email {
    margin-right: 30px;
 }

 .footer_right-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--color-white);
 }

 .footer_right-icons > *{
   transform: scale(1.5);
 }

 #icons {
    margin: 0 8px;
 }

 #copyright {
    font-family: var(--font-bebas);
    opacity: 1;
    font-weight: lighter;
    position: absolute;
    bottom: 20px;
    left: 20px;
 }

/* MEDIA LAPTOP */

 @media (max-width: 1024px) {
   .hero_left h1 {
      font-size: 5em;
  }
  .hero_left h4 {
   font-size: 1em;
}
.hero_left h2 {
   font-size: 3em;
}
.hero_price-container {
   height: 144px;
   width: 144px;
}
.hero_price-container p {
   border-radius: 100%;
   padding: 14px 20px;
   text-align: center;
}
.hero_price-container .price {
   font-size: 4em;
}
.hero_price-container .cents {
   font-size: 1.9em;
}
.hero_price-container .text {
   font-size: 1.5em;
}
.hero_left {
   flex: 1;
}
.hero_right {
   flex: 2;
}
.features_1 {
   padding: 0;
}
.grid--2x2 {
   gap: 30px;
}
.events_right img {
   width: 100%;
   height: 100%;
}
.btn-primary {
   padding: 14px 22px;
}
.btn-accent {
   padding: 18px 24px;
}
.reservation_form .res_input {
   height: 44px;
   width: 280px;
}
.reservation_form {
   display: flex;
   justify-content: center;
   align-items: center;
}
.reservation_bg-2 {
   top: 100px;
   left: 30px;
}
.reservation_bg-3 {
   top: 140px;
   right: -350px;
}
.reservation_bg-1 {
   top: -130px;
   left: -90px;
}
.reservation_form a {
   font-size: 0.8em;
}
.footer_left p {
   width: 400px;
}
.footer {
   height: 60vh;
}
.footer_right h5 {
   white-space: nowrap;
}
.footer_right {
   flex: 2;
   margin-left: 50px;
}
.events_left h5 {
   font-size: 2.2em;
}
.events_left p {
   font-size: 1.1em;
}
.features_2-card h4 {
   font-size: 2em;
}
.reservation h5 {
   font-size: 2.3em;
}
 }

 /* MEDIA TABLET */

 @media (max-width: 768px) {
   .nav_content {
    display: none;
  }
  #menu {
   display: flex;
   flex-direction: column;
   background: goldenrod;
   align-items: flex-start;
   padding: 80px 10px;
   margin: 0;
   width: 300px;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 9999;
   transition: 0.3s;
}
#menu.active {
   right: 300px;
}
#menu li{
  margin: 20px 0;
}
#menu a{
   font-size: 2.2em;
   margin: 0 30px;
 }
 #xmark {
   position: absolute;
   top: 30px;
   right: 80px;
   font-size: 2em;
 }
 #bars {
   font-size: 2.2em;
 }

 .hero {
   display: block;
}
.hero_left {
   text-align: start;
   margin-top: 50px;
   margin-left: 60px;
}
.hero_right img {
   margin-left: 40px;
}
.hero_left h1 {
  font-size: 6em;
}
.hero_left h4 {
   font-size: 1.5em;
}
.hero_left h2 {
   font-size: 3.5em;
}
.grid {
   display: block;
}
.features_1_cards {
   margin-bottom: 20px;
}
.container {
   padding: 30px;
}
.header {
   height: 110vh;
}
.reservation_form .res_input {
  margin: 5px;
}
.grid--3x2 {
  text-align: center;
}
.reservation_form a {
  margin-top: 15px;
}
.footer_container {
   display: block;
   height: inherit;
}
.footer_right-icons {
   bottom: -90px;
   right: 20px;
}
.footer_container {
   position: relative;
}
.footer_left {
   position: static;
   text-align: center;
}
.footer_left p {
   width: auto;
}
.reservation {
   position: relative;
   margin-top: 80px;
   margin-bottom: 100px;
}
.footer {
   height: 55vh;
}
.events-container {
   display: block;
}
.events_right img {
  margin-top: 30px;
}
 }